{% extends "html" %}

{% block content %}
<main class="content" id="quarto-document-content">

  {# Titelblock #}
  {% if title %}
  <header class="workshop-title">
    <h1>{{ title }}</h1>
    {% if subtitle %}
    <p class="workshop-subtitle">{{ subtitle }}</p>
    {% endif %}
  </header>
  {% endif %}

  <div class="workshop-layout">

    <nav class="workshop-nav">
      {% if meta.workshop_nav_title %}
        <h2>{{ meta.workshop_nav_title }}</h2>
      {% endif %}

      {% if meta.workshop_nav %}
        {{ meta.workshop_nav | safe }}
      {% endif %}
    </nav>

    <div class="workshop-content">
      {{ super() }}
    </div>
